<h2>Position</h2>

<div id="chessboard">
</div>

<script type="module">
  import { Chessground } from 'chessground';

  const config = {
    fen: "<%= @position.fen %>",
    movable: {
      free: false
    },
    draggable: {
      enabled: false
    }
  };
  const ground = Chessground(document.getElementById('chessboard'), config);
</script>
