<div class="scoresheet">
  <table>
  <% moves.each_slice(2).each_with_index do |(white_ply, black_ply), index| %>
    <tr>
      <td><%= index + 1 %>.</td>
      <td><%= localize(user.language, white_ply) %><td>
      <td><%= localize(user.language, black_ply) if black_ply %></td>
    </tr>
  <% end %>
  </table>
</div>
