<h2><%= @game.white %> - <%= @game.black %> | <%= @game.result %></h2>

<div class="row-fluid game-nav-row">
  <div class="nav-btn"><button class="btn btn-primary" id="startMove"><i class="bi bi-skip-backward"></i></button></div>
  <div class="nav-btn"><button class="btn btn-primary" id="backMove"><i class="bi bi-rewind"></i></button></div>
  <div class="nav-btn"><button class="btn btn-primary" id="forwardMove"><i class="bi bi-fast-forward"></i></button></div>
  <div class="nav-btn"><button class="btn btn-primary" id="endMove"><i class="bi bi-skip-forward"></i></button></div>
</div>

<div class="row text-center">
  <div class="col-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-6"></div>
</div>

<script type="module">
  import { Chessgame } from 'chessgame';
  const pgn = '<%= j @game.pgn %>';
  const game = new Chessgame(document.getElementById('chessboard'), pgn);

  document.querySelector('#startMove').addEventListener('click', function() {
    game.startMove();
  });

  document.querySelector('#backMove').addEventListener('click', function() {
  game.backMove();
  });

  document.querySelector('#forwardMove').addEventListener('click', function() {
    game.forwardMove();
  });

  document.querySelector('#endMove').addEventListener('click', function() {
    game.endMove();
  });
</script>
