<table>
  <thead>
    <tr>
      <td>#</td>
      <td>White</td>
      <td>Black</td>
    </tr>
    <tbody>
      <% moves.last(21).each_slice(2).each_with_index do |(white_ply, black_ply), index| %>
        <tr>
          <td><%= index + 1 %>.</td>
          <td><%= white_ply %></td>
          <td><%= black_ply %></td>
        </tr>
    </tbody>
  <% end %>
</table>
