<div class="row">
  <div class="col-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-6">
    Analysis
  </div>
</div>

<script type="module">
  import { Chessground } from 'chessground';
</script>
