<div class="row">
  <div class="col-6">
    <div id="chessboard"></div>
  </div>
  <div class="col-6">
    Analysis
  </div>
</div>

<script type="module">
  import { Chessgame } from 'chessgame';
  const fens = <%= raw @game.fens %>;
  const game = new Chessgame(document.getElementById('chessboard'), '');
  game.render();
  game.setOrientation('<%= @game_analysis.color %>');
  game.setFen(fens[3]);
</script>
